*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #E5E5E5, #8ef);
}
nav{
    background: #FFFFFF;
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}
.Logo{

    flex-basis: 20%;

}
.Logo img{
width: 150px; 
}
.Links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.Links ul li a{
    color:#131517;
    text-decoration: none;
}
.information{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
}
.head{
   text-align: center;
 padding-top: 6em;
}
.info{
    text-align: center;
  padding-top: 2em;
 }
#Normal{
    background: #DBACAC;
    font-family: 'Times New Roman', Times, serif;
    display: block;
    width: 140px;
    font-size: 24px;
    text-transform: uppercase;
    padding: 10px;
   
    text-align: center;
    margin: 20px auto;
    cursor: pointer;
}
#Live{
   visibility: hidden;
    background: #DBACAC;
    font-family: 'Times New Roman', Times, serif;
    display: block;
    width: 140px;
    font-size: 24px;
    text-transform: uppercase;
    float: right;
  
   
   
    text-align:right;
    margin: 20px auto;
    cursor: pointer; 
}
#Live.open{
    visibility: visible;
    transition: 0.7s;

}